h2{
    display: flex;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
    color: aqua;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1200px;
    padding: 20px, 10px, 5px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
body{
        text-align: auto ;
        margin: 13%;
        margin-top: 1cm;
        background-color: ghostwhite;
        font-size: medium;
}
h3{
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 0.5rem;
    font-size: medium;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
}
aside{
    font-weight: bold;
    font-family: fantasy;
    color: crimson;
    letter-spacing: 0.5rem;
    font-size: medium;
    font-weight: bold;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

.equipe{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 20px;
}
.equipe img{
    width: 24%;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}